header{
	text-align: center;
	border-bottom: 3px solid black;	
}

section{
	display: block;
	height: 20%;
	position: relative;
	text-align:center;
	padding: 10px;
}

.canvasHolder{
	background-color: gainsboro;
	text-align:center;
	height: 40%;
}

#resistorCanvas{
	background-color: white;
}